* {
    bordercolor:         #686868;
    background:          #212733;
    background-selected: #f28779;
    foreground:          #c3c3c3;
    foreground-selected: #f7f7f7;
}

#entry {
    placeholder-color: #757575;
}
